header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0;
    background-color: #3183ab;
    color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0;
    background-color: #3183ab;
    color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar-brand {
    width: 10%;
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

.navbar-brand img {
    width: 150px;
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

.navbar-text {
    display: inline-block;
    font-size: 50px;
    font-family: 'Gambetta', serif;
    letter-spacing: -2px;
    transition: 700ms ease;
    font-variation-settings: "wght";
    margin-bottom: 0.8rem;
    color: white;
    outline: none;
    text-align: center;
}

.navbar-text:hover{
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;

}
.toolbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #3183ab;
    height: 139px;
    width: 109px;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #3183ab;
    padding: 20px;
    text-align: center;
}

.links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .links a {
        text-decoration: none;
        color: #FFFFFF;
        margin-right: 20px;
    }

        .links a:last-child {
            margin-right: 0;
        }
.profileContainer {
    width: 10%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
    .profileContainer img {
        display: block;
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
    }

.search-container {
    position: fixed;
    top: -20px;
    left: 200px;
    text-align: left;
    display: inline-flex;
    padding: 30px;
    margin: 10px 0;
}


.buttonsearch {
    padding: 10px 10px;
    background-color: rgba(49, 160, 171, 0.9);
    color: white;
    border: thick;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-left: -180px;
}

.buttongive {
    position: absolute;
    left: 1550px;
    padding: 10px 10px;
    background-color: rgba(49, 160, 171, 0.9);
    color: white;
    border: thick;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.buttonsearch:hover {
    background: rgba(49, 100, 171, 0.9);
    color: white;
}

.buttongive:hover {
    background: rgba(49, 100, 171, 0.9);
    color: white;
}

.categories {
    width: 150px;
    border: thick;
    border-radius: 4px;
    margin-left: 10px;
    background: rgba(49, 160, 171, 0.9);
    color: white;
}